<a href="https://colab.research.google.com/github/engenheirorodrigoviannini/optical_character_recognition/blob/main/similarity_strings_20230620.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**PRODUCTION ENGINEER | DATA SCIENTIST**


Rodrigo Viannini


Date: 2023-06-20


https://www.linkedin.com/in/rodrigo-viannini-datascientist/

**SETTINGS**

In [19]:
# Imports
import pandas as pd

**WORDS**

In [25]:
# List of words
list_strings_one = ['escola', 'Rio de Janeiro', 'Brasil', 'Flamengo', 'São Paulo', 'hospital', 'objeção', 'determine', 'jornal', 'alimento']

list_strings_two = ['escolaridade','rio_janeiro', 'brasileiro', 'flamenguista', 'são-paulino', 'hospitalizado', 'objetividade', 'determinação', 'jornalismo', 'alimentação']

In [26]:
# Create a DataFrame with two columns 'WORD_ONE' and 'WORD_TWO' using the provided lists
df_similarity_analysis = pd.DataFrame({'WORD_ONE': list_strings_one, 'WORD_TWO': list_strings_two})

# Convert all values in the 'WORD_ONE' column to lowercase
df_similarity_analysis['WORD_ONE'] = df_similarity_analysis['WORD_ONE'].str.lower()

# Convert all values in the 'WORD_TWO' column to lowercase
df_similarity_analysis['WORD_TWO'] = df_similarity_analysis['WORD_TWO'].str.lower()

In [27]:
df_similarity_analysis

         WORD_ONE       WORD_TWO
0          escola   escolaridade
1  rio de janeiro    rio_janeiro
2          brasil     brasileiro
3        flamengo   flamenguista
4       são paulo    são-paulino
5        hospital  hospitalizado
6         objeção   objetividade
7       determine   determinação
8          jornal     jornalismo
9        alimento    alimentação

**STRINGS FREQUENCY**

In [28]:
for idx, x in enumerate(df_similarity_analysis['WORD_ONE']):
    # Print the length of the string 'x'
    print(len(x))

    # Print the index and the value of 'x'
    print(idx, x)

    # Count the occurrences of each character in 'x' and store the results in 'res'
    res = {i: x.count(i) for i in set(x)}

    # Print the dictionary of character counts in 'x'
    print(str(res))

    # Print a blank line to separate the outputs for each iteration
    print()

6
0 escola
{'o': 1, 'l': 1, 'e': 1, 'a': 1, 'c': 1, 's': 1}

14
1 rio de janeiro
{'o': 2, 'r': 2, 'j': 1, ' ': 2, 'e': 2, 'd': 1, 'i': 2, 'n': 1, 'a': 1}

6
2 brasil
{'r': 1, 'l': 1, 'a': 1, 'i': 1, 'b': 1, 's': 1}

8
3 flamengo
{'o': 1, 'l': 1, 'e': 1, 'g': 1, 'm': 1, 'n': 1, 'f': 1, 'a': 1}

9
4 são paulo
{'o': 2, 'p': 1, 'l': 1, ' ': 1, 'a': 1, 'ã': 1, 'u': 1, 's': 1}

8
5 hospital
{'o': 1, 'p': 1, 'l': 1, 'h': 1, 't': 1, 'a': 1, 'i': 1, 's': 1}

7
6 objeção
{'o': 2, 'j': 1, 'e': 1, 'ç': 1, 'ã': 1, 'b': 1}

9
7 determine
{'r': 1, 't': 1, 'e': 3, 'd': 1, 'i': 1, 'm': 1, 'n': 1}

6
8 jornal
{'o': 1, 'r': 1, 'l': 1, 'j': 1, 'n': 1, 'a': 1}

8
9 alimento
{'o': 1, 'l': 1, 't': 1, 'e': 1, 'i': 1, 'm': 1, 'n': 1, 'a': 1}